<!DOCTYPE html>
<html>
<head>
  <title>LaporteLink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= image_tag "alaporteseul.png" %>
</head>
<body>

<%= yield %>

</body>
</html>
